.signatureCanvas {
  border: 1px solid black;
  /* border-style: dashed dashed dashed dashed; */
  width: 100%;
  min-height: 400px;
  /* max-height: 500px; */
  /* min-width: 400px;
  max-width: 500px; */
}
.img {
  display: block;
  margin: 0 auto;
  border: 1px solid black;
  max-width: 150px;
  max-height: 100px;
  margin-top: 15px;
}
.boton {
  border: none;
  border-radius: 5px;
  background-color: #80cbc4;
  color: #004d40;
  font-weight: 510;
  font-size: 14px;
  width: 100px;
  height: 40px;
  /* margin-bottom: -100px; */
  margin-top: 15px;
}
.boton:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #004d40;
  transition-duration: 500ms;
}
.container {
  display: inline-flex;
  align-items: center;
}
.conteinerBotonSign {
  display: flex;
  justify-content: space-around;
}
.botonSign {
  border: none;
  border-radius: 5px;
  background-color: #80cbc4;
  color: #676767;
  font-weight: 510;
  font-size: 12px;
  width: 65px;
  height: 24px;
}
.botonSign:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #004d40;
  transition-duration: 500ms;
}
